* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

html {
    font-family: DM Sans;
    font-size: 62.5%;
}

:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}


/* header */

