* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}


/* header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto ;
    overflow: hidden;
}
.header{
    position: relative;
    width: 100%;
    min-width: 350px;
    height: 455px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__picture{
    margin: 7rem 0;
}
.header__texts{
    color: #FFF;
    text-align: center;
    width: 100%;
}
.header__title{
    font-size: 20px;
    margin: 0 auto;
}
.header__copy{
    margin: 6rem 0;
    color: var(--off_white);
    font-size: 15px;
}
.header__cta{
    position: absolute;
    color: var(--Warm_black);
    padding: 20px 40px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5.5rem;
    left: calc(50% - 118px);
}

/* section main */
.hero{
    width: 100%;
    min-width: 350px;
    display: flex;
    justify-content: center;
}
.hero__img{
    margin: 4rem 0;
}
.hero__picture{
    max-width: 100%;
}
.texts{
    width: 100%;
    min-width: 350px;
    display: block;
    text-align: center;
}
.texts__title{
    font-size: 24px;
    color: #201E1C;
}
.texts__copy{
    font-size: 14px;
    color: #BABABA;
    margin-top: 1rem;
    padding: 10px 10px 10px 10px; 
}


/* cards */
.cards{
    width: 100%;
    min-width: 350px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__tipo{
    padding: 20px 60px 20px;
    font-size: 1.5rem;
}

.card__tipo--margin span{
    margin-left: 10rem;
}

.card__tipo--margines span{
    margin-left: 8rem;
}

.card__paragraph{
    margin-top: 2rem;
    font-size: 12px;
    background-color: var(--Soft_orange);
    padding: 10px 80px;
    border-radius: 5px;
}
.card__title{
    color: #F7931A;
    font-size: 18px;
    margin: 2rem 0;
}
.card__bgcolor{
    display: inline-block;
    background-color: var(--just_white);
    text-decoration: none;
    list-style-type: none;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    border-radius: 30px;
}

.card__title--color{
    color: var(--Secundary_blue);
}
.card__paragraph--color{
    background-color: var(--Soft_blue);
}


/* section información */
.contenido{
    margin-top: 6rem;
    background-color: var(--Warm_black);
    width: 100%;
    min-width: 350px;
    height: 950px;
}
.contenido__img{
    display: flex;
    justify-content: center;
}
.contenido__picture{
    position: absolute;
    margin-top: -1.3rem;
}
.contenido__texts{
    text-align: center;
    margin-top: 4rem;
    color: #ffff;
    line-height: 2.5;
}
.contenido__title{
    font-size: 24px;
}
.contenido__copy{
    font-size: 14px;
    color: #808080;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor__card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
}
.contenedor__picture{
    margin-bottom: 1rem;
    margin-top: -1rem;
}
.contenedor__texts{

}
.contenedor__title{
    margin-top: 1rem;
    color: #FFF;
    font-size: 18px;
}
.contenedor__copy{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #808080;
}


/* section fondo */
.fondo{
    position: relative; 
}
.fondo__title{
    width: 100%;
    min-width: 350px;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 7rem;
    position: absolute;
    color: #FFF;
}
.fondo__img{
    background-image: url(/img/bitcoinbaby\ 2.png);
    width: 100%;
    min-width: 350px;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
.fondo__picture{
    background-repeat: no-repeat;
    object-fit: cover;
}


/* planes */
.planes{
    width: 100%;
    min-width: 350px;
    height: 80vh;
}
.planes__title{
    margin-top: 3.5rem;
    font-size: 24px;
    text-align: center;
}
.planes__copy{
    margin-top: 3rem;
    color: #757575;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.planes__contenedor{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan{
    margin-top: 2rem;
    position: relative;
    text-align: center;
    width: 25%;
    min-width: 190px;
    max-width: 300px;
    height: 270px;
    border-radius: 15px;
    margin: 100px 50px 0;
    padding: 0 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);

}
.plan__cta{
    position: absolute;
    margin-top: -2.5rem;
    margin-left: -7.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    background-color: #1A9AF7;
    padding: 10px 55px;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #F7931A;
}
.plan__cta--color{
    padding: 10px 30px;
    background-color: #F7931A;
}
.plan__cta--color3{
    background-color: #201E1C;
}

.plan__title{
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #000;
}
.plan__costo{
    font-size: 52px;
    padding: 2rem 0;
    font-weight: bold;
}
.dolar span{
    font-size: 15px;
    font-weight: normal;
    margin-right: 1rem;
    vertical-align: 25px;   
}

.plan__paragraph{
    font-size: 12px;
    color: #757575;
    margin-bottom: 1.5rem;
}
.plan__boton{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #282623;
    padding: 15px 30px;
    border: 3px solid #F7931A;
}

/* section footer */
.footer{
    margin-top: 80rem;
    width: 100%;
    min-width: 300px;
    display: flex;
    background-color: var(--Bitcoin_Orange);
    height: 150px;
}
.footer section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__nav ul{
    margin-right: 1.5rem;
    list-style: none;
    width: 50%;
}
.footer__link{
    text-decoration: none;
    color: var(--just_white);
    font-size: 1.4rem;
    line-height: 2.8rem;
}