* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

:root {
    --Bitcoin_Orange: #F7931A;
    --Soft_orange: #FFE9D5;
    --Secundary_blue: #1A9AF7;
    --Soft_blue: #E7F5FF;
    --Warm_black: #201E1C;
    --Warm_black1: #282623;
    --Grey: #BABABA;
    --off_white: #FAF8F7;
    --just_white: #FFFFFF;
}


/* header */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto ;
    overflow: hidden;
}
.header{
    position: relative;
    width: 100%;
    min-width: 350px;
    height: 455px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__picture{
    margin: 7rem 0;
}
.header__texts{
    color: #FFF;
    text-align: center;
    width: 100%;
}
.header__title{
    font-size: 20px;
    margin: 0 auto;
}
.header__copy{
    margin: 6rem 0;
    color: var(--off_white);
    font-size: 15px;
}
.header__cta{
    position: absolute;
    color: var(--Warm_black);
    padding: 20px 40px;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5.5rem;
    left: calc(50% - 118px);
}

/* section main */
.hero{
    display: flex;
    justify-content: center;
}
.hero__img{
    margin: 4rem 0;
}
.hero__picture{
    max-width: 100%;
}
.texts{
    display: block;
    text-align: center;   
}
.texts__title{
    font-size: 24px;
    color: #201E1C;
}
.texts__copy{
    font-size: 14px;
    color: #BABABA;
    margin-top: 1rem;
    padding: 5px 0 5px;
}


/* cards */
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__tipo{
    padding: 20px 60px 20px;
    font-size: 1.5rem;
}

.card__tipo--margin span{
    margin-left: 10rem;
}

.card__tipo--margines span{
    margin-left: 8rem;
}

.card__paragraph{
    margin-top: 2rem;
    font-size: 12px;
    background-color: var(--Soft_orange);
    padding: 10px 80px;
    border-radius: 5px;
}
.card__title{
    color: #F7931A;
    font-size: 18px;
    margin: 2rem 0;
}
.card__bgcolor{
    display: inline-block;
    background-color: var(--just_white);
    text-decoration: none;
    list-style-type: none;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    border-radius: 30px;
}

.card__title--color{
    color: var(--Secundary_blue);
}
.card__paragraph--color{
    background-color: var(--Soft_blue);
}


/* section información */
.contenido{
    margin-top: 6rem;
    background-color: var(--Warm_black);
    width: 100%;
    height: 455px;
}

.contenido__img{

}
.contenido__informacion{
   
}




/* section responsive */
@media (min-width: 518px) {
    .header__cta{
        margin-top: 7.5rem;
    }
}

@media (min-width: 636px) {
    .header__title{
        font-size: 2.5rem;
    }
    .header__copy{
        font-size: 1.6rem;
    }
    .header__cta{
        margin-top: 9.5rem;
    }
    
    /* texts */
    .texts__title{
        font-size: 30px;
    }
    .texts__copy{
        font-size: 18px;
    }
}

/* desktop */
@media (min-width: 768px) {
   .header{
    min-width: 870px;
   }
    .header__texts{
        width: 80%;
    }
    .header__title{
        font-size: 4rem;
    }
    .header__copy{
        font-size: 2rem;
    }
    .header__cta{
        margin-top: 2rem;
    }

    /* hero */
    .texts__title{
        font-size: 35px;
    }
    .texts__copy{
        font-size: 20px;
    }
    /* texts */
    

    /* cards */
    .cards{
        display: flex;
        justify-content: space-evenly;
    }
    .card{
        margin-top: 4rem;
    }
}